Q1. 

In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

        * 
       'hello'
       -87.8
        - 
         / 
        +
        6 

Answer:

     * is a mathematical operator(Multiplication operator) and also a replication operator.
     'hello' is a string value.
      -87.8 is a value(negative float value).
    - is a mathematical operator(Substraction operator).
    / is a mathematical operator.(Division operator).
    + is a mathematical operator(Addition operator) and also a string concatenation operator.
     6 is an integer value.

Q2. 
 
 What is the difference between string and variable?

Answer:
String - String is a datatype usually surrounded by ' ' or " " for Python to know the initiation and ending of a string.  
Examples:"My name is xyz" or 'My age is 25'.

Variable- Variable is like a container or box in the computer's memory to store a single value, which needs to be used later in a program.  
Examples: spam=40, where spam is a variable and an integer value of 40 is being stored in it.

Q3. 

Describe three different data types.

Answer:
There are three data types:  

a)string- Values with any number of characters in them , surrounded by '' or "" are of string (str) data type.  

b)integer- all integers or whole numbers are of int data type.  

c)float- all decimal numbers are of float data type.

Q4. 

What is an expression made up of? What do all expressions do?

Answer:  

An expression is made up of:  

a) Values  

b) operators,together evaluating to a single value. A single value with no operators can also can also be considered an expression as it evaluates to itself.  

Example: 4+5 is an expression and on execution this expression will reduce to 9, i.e, a single value.

All expressions reduce to a single value.

Q5. 

This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Answer: 

An assignment statement consists of :
a) variable name (spam).
b) assignment operator (=).
c) value to be stored in the variable (10). 


An assignment statement helps us to initialise a variable, whereas a expression is made of:
a) Values
b) operators,together evaluating to a single value. 

A single value with no operators can also can also be considered an expression as it evaluates to itself.

An expression reduces to a single value but a statement doesnot.

In [1]:
spam=10 # ASsignment Statement...

In [2]:
2+2 # An expression...

4

Q6. 

After running the following code, what does the variable bacon contain?

bacon = 22  
bacon + 1

Answer:  

After execution of the above mentioned code, variable bacon contains 22.

In [3]:
bacon=22

In [4]:
bacon+1

23

In [5]:
bacon

22

Q7. 

What should the values of the following two terms be?

'spam' + 'spamspam'  
'spam' * 3

Answer:  
'spam' + 'spamspam' will reduce to spamspamspam.  
'spam'*3 will reduce to spamspamspam
                        
Both the expressions give the same result

'spam' + 'spamspam'

In [6]:
'spam'*3

'spamspamspam'

In [7]:
'spam' + 'spamspam'

'spamspamspam'

Q8. 

Why is eggs a valid variable name while 100 is invalid?

Answer:

Variable name cannot start with numbers,hence eggs is a valid variable and 100 is not.

Q9. 

What three functions can be used to get the integer, floating-point number, or string version of a value?

Answer:
The three functions can be used to get the integer, floating-point number, or string version of a value are:
    
int() - used to convert an integer stored in a variable (usually user input,i.e, input()) in the form of a string to integer form. Also used to round up a floating number. 

str() - used to convert values of other data types to a string form usually preferred during string concatenation operation.

float() - used to convert values of other data types into their decimal forms. It cannnot convert any string to float but values stored in variables (especially integers) can be converted to their decimal form.

In [9]:
b=input()

45

In [10]:
int(b)

45

In [11]:
c=int(b)+2

In [12]:
type(b)

str

In [13]:
c

47

In [14]:
type(c)

int

In [15]:
float(c)+45

92.0

In [16]:
c+45

92

In [17]:
type(float(c)+45)

float

In [18]:
type(c+45)

int

In [19]:
float(b)

45.0

In [20]:
float('b')

ValueError: could not convert string to float: 'b'

Q10. 

Why does this expression cause an error? How can you fix it?

'I have eaten ' + 99 + ' burritos.'

Answer: 

Cannot concatenate strings and integers.

In [21]:
'I have eaten' + 99 + 'burritos.'

TypeError: can only concatenate str (not "int") to str

In [22]:
## In order to fix the above problem, we use typecasting i.e., we convert integer type 99 into a string form which helps in concatenation.
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'