Q1. What exactly is []?

Answer:  
[] represents an empty list.

Q2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)

In [1]:
# Answer: 2.
spam=[2,4,6,8,10]

In [2]:
# Answer :2 (continued..)
spam.insert(2,'hello')

In [3]:
# Answer :2 (continued...)
spam

[2, 4, 'hello', 6, 8, 10]

# Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.

In [4]:
spam=['a','b','c','d']

Q3. What is the value of spam[int(int('3' * 2) / 11)]?

In [5]:
# Answer: 3. 
""" '3'*2 evaluates to '33'. 
int('33') evaluates to 33 . 
33 /11 evaluates to 3.0 . 
int(3.0) evaluates to 3 , i.e, typecasting float into int .
spam[3] evaluates to 'd', since 'd' is present at the 3rd index in the list spam."""

spam[int(int('3'*2)/11)]

'd'

Q4. What is the value of spam[-1]?

In [6]:
# Answer: 4.
spam[-1]

'd'

Q5. What is the value of spam[:2]?

In [7]:
#Answer: 5.
spam[:2]

['a', 'b']

# Let's pretend bacon has the list [3.14, 'cat', 11, 'cat', True] for the next three questions.

In [8]:
bacon=[3.14, 'cat', 11, 'cat', True]

Q6. What is the value of bacon.index('cat')?

In [9]:
#Answer: 6.
bacon.index('cat')

1

Q7. How does bacon.append(99) change the look of the list value in bacon?

In [10]:
# Answer: 7.
bacon.append(99)

In [11]:
# Answer : 7. (continued..)
bacon

[3.14, 'cat', 11, 'cat', True, 99]

Q8. How does bacon.remove('cat') change the look of the list in bacon?

In [12]:
#Answer: 8.
bacon.remove('cat')

In [13]:
bacon

[3.14, 11, 'cat', True, 99]

Q9. What are the list concatenation and list replication operators?

Answer: 9.   

'+' is the list concatenation operator used to concatenate two lists into a new one whereas, '*' is the replication operator used to replicate the elements in a list.

Q10. What is difference between the list methods append() and insert()?

Answer: 10.  
The list method append() is used to add an element at the end of a list, where as the list method insert() enables one to insert an element anywhere(at whichever index one likes) inside a list.

In [14]:
# Answer: 10. (continued...)
a_m=[1,'Diamond',19-97j]

In [15]:
a_m.append('silver')

a_m

In [16]:
a_m.insert(1,'silver')

In [17]:
a_m

[1, 'silver', 'Diamond', (19-97j), 'silver']

In [18]:
a_m.insert(2,79.91)

In [19]:
a_m

[1, 'silver', 79.91, 'Diamond', (19-97j), 'silver']

Q11. What are the two methods for removing items from a list?

Answer: 11.  
The two methods for removing items from a list:  
a) pop()  
b) remove().

In [20]:
#Answer:11. (continued...)
a_m.pop(2)

79.91

In [21]:
a_m=[1,'silver','Diamond',(19-97j),'silver']

In [22]:
a_m

[1, 'silver', 'Diamond', (19-97j), 'silver']

In [23]:
a_m.remove('silver')

In [24]:
a_m

[1, 'Diamond', (19-97j), 'silver']

In [25]:
a_m.remove('Diamond')

In [26]:
a_m

[1, (19-97j), 'silver']

Q12. Describe how list values and string values are identical.

Answer:12   

a) Lists and strings that represent ordered sequences of values.    

b) Many of the things one can do with lists can also be done with strings and other values of sequence types: indexing; slicing; and using them with forloops, with len(), and with the in and not in operators.

Q13. What's the difference between tuples and lists?

Answer:13  

Two differences between tuples and list are:  

a) Tuples are typed with parenthesis() instead of square brackets[].  

b) Tuples are immutable while lists are mutable.  

c) Codes using tuples is slightly faster than the codes using lists.

Q14. How do you type a tuple value that only contains the integer 42?

Answer: 14.  
t=(42,) , where t is a tuple.

In [27]:
#Answer: 14. (Continued...)
t=(42,)

In [28]:
type(t)

tuple

Q15. How do you get a list value's tuple form? How do you get a tuple value's list form?

In [29]:
# Answer: 15. (continued...)

# To get a list value's tuple form:
l1=['mars',9,'red']
tuple(l1)

('mars', 9, 'red')

In [30]:
t1=tuple(l1)

In [31]:
l1

['mars', 9, 'red']

In [32]:
t1

('mars', 9, 'red')

In [33]:
# To get a tuple value's list form:
t2=('sun',1,'orange')
l2=list(t2)

In [34]:
t2

('sun', 1, 'orange')

In [35]:
l2

['sun', 1, 'orange']

Q16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?

Answer:16

Variables contain the reference to the list values created in the computer's memeory. We are storing the reference ID of the values created in the computer's memory inside the variables.

Q17. How do you distinguish between copy.copy() and copy.deepcopy()?

Answer:17 
copy.copy() is used to make a duplicate copy of a mutable value like a list or a dictionary, whereas copy.deepcopy() function is used when the list to be copied contains lists inside it. copy.deepcopy() copies the inner lists as well.